/* CAROUSEL */

@font-face {
    font-family: Okami;
    src: url(../Font/Okami.otf);
}

.wrap {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;

}

.wrap1{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    left: auto;
    opacity: 0;
    
   
 }

.centerText{
    display: flex;
}

#showcase {
    
    margin: 0;
    position: relative;
    height: 500px;
    width: 100%;
}




.logoin {
    position: absolute;
    left: 26%;
    right: 25%;
  margin-top: 1%;
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    width: 48%;
}

.cloud9-item {
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 2000px;
    box-shadow: 9px 13px 26px -8px #222533;
    margin: auto;
}

.cloud9-item > a {
    position: absolute;
    margin: auto;
    text-align: center;
    display: none;
    z-index: 300;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.blur {
    height: 150px;
    width: 150px;
    border-radius: 2000px;
    border: 0;
    background-position: center;
    position: absolute;
    z-index: 99;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    display: none;
}

.close {

    display: none;
    z-index: 100;
    position: relative;
}

#item-title {
    color: white;
    font-size: 29px;
    letter-spacing: 0.13em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 22px;
    z-index: 100;
}

#nav {
    z-index: 100;
    text-align: center;
    margin-bottom: 50px;
}

#nav > button {
    /*width: 64px;
    height: 36px;
    color: #666;
    font: bold 16px arial;
    text-align: center;
    margin: 5px;
    text-shadow: 0px 1px 0px #f5f5f5;
    background: #f6f6f6;
    border: solid 2px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;*/

    text-align: center;
    font-size: 16px;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    outline: none;
    border: 0;
}

#nav > button:hover i {
    color: red;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#nav > button:hover {
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#nav > button:active,
#nav > button.down {
    /*background: #dfdfdf;
    border: solid 2px rgba(0, 0, 0, 0.6);
    box-shadow: none;*/
}

.centerText {
    display: none;
}

@media (max-width: 1201px){
    .logoin{
        font-size: 16px ;
    }
}