@font-face {
    font-family: inglobal;
    src: url(../Font/TTF/inglobal.ttf);
}

footer {
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

body {
    background-image: url(../images/05.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: inglobal;
    transition: 1s;
    min-width: 500px;
}

.keke {
    overflow: hidden;
}


ul {
    list-style: none;
}

#donebut {
    z-index: 990000000;
    position: fixed;
    right: 20px;
    top: 80px;
    margin: auto;
    border-radius: 5px;
   /* border: white solid 2px;*/
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    min-width: 100px;
    min-height: 27px;
    display: block;
    cursor: text;
    color: #000000;
    /*line-height: 40px;*/
    /*background: rgb(255, 255, 255);*/
   /* background-image: url(../images/fire.png);*/
    background-color: rgba(255,255,255, 0.7);
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#donebut:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.35);
  /*  background-image: url(../images/fire.png);*/
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.aboutShowBut a{
    color: #000000;
}

.aboutShowBut a:hover{
    color: #ffffff;
    text-decoration: none;
}
.aboutShowBut{
    border: 0;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    background-color: rgba(255,255,255,0.85);
    z-index: 1000;
    position: relative;
}

.aboutShowBut:hover{
    border: 0;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.45)
}

.titleNews {
    color: white;
    text-align: center;
    font-size: 26px;
    background-color: rgba(0, 0, 0,0.75);
    border-radius: 5px;
    margin-left: 0;
    margin-right: 0;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
}

.dropdown-menu {
    background-color: rgba(222, 17, 0, 0.85);
    border: 0;
}

.dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.dropdown-menu > li > a {
    color: #ffffff;
}

.dropdown-menu a {
    color: #ffffff;
}

.dropdown-menu > li > a:hover {
    color: #de1100;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    color: #ffffff;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
