@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: inglobal;
    src: url(../Font/TTF/inglobal.ttf);
}

p {
    text-indent: 20px;
}

.item {
    font-family: inherit;
    font-size: 18px;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item div {
    text-align: left;
    font-size: 18px;
}

.item img {
    float: left;
    margin-right: 25px;
}

.content{
    margin-top: 80px;
}

.container{
    border-radius: 5px;
}

a {
    color: white;
}

.container {
    margin-top: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}