@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: inglobal;
    src: url(../Font/TTF/inglobal.ttf);
}

p {
    text-indent: 20px;
}

.item {
    font-family: inherit;
    font-size: 18px;
    text-align: justify;
}

.news {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

a {
    color: white;
}

.content {
    margin-top: 10%;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.titleArticle {
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 26px;
}

.image {
    text-align: justify;
}

.article {
    text-align: left;
    font-size: 24px;
    padding: 15px;
}

.newsElement {
    text-align: center;
}

.newsElement li {
    text-align: justify;
}

.element li p{
    text-align: left;
    text-indent: 0;
}

.text {
    text-align: justify;
    float: right;
}

.na4img li {
    text-align: left;
    padding-bottom: 30px;
    padding-top: 10px;
}

.na4img p {
    text-indent: 0;
}

@media (max-width: 990px) {
    .na4img p {
        text-align: left;
    }

    .newsElement {
        display: flex;
    }

    ul{
        padding-left: 20px;
    }

    .image {
        padding-top: 30px;
    }
}

@media (max-width: 590px) {
    .col-xs-6 {
        width: 100%;
    }

    .newsElement {
        display: block;
    }

    .newsElement li .image {
        text-align: center;
    }

    .col-sm-12 {
        padding-left: 0;
    }

    .image {
        text-align: center;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .image img {
        width: 250px;
    }

    .na4img li, .na4img li p {
        text-align: center;
    }

    .text {
        text-align: justify;
    }
}