

footer {
    min-height: 5%;
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    padding-top: 3%;
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
}


.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;

}

.dropdown-menu > li > a {
    color: #de1100;;
}

.dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;

}

.dropdown-menu > li > a {
    color: #9d9d9d;
}

.dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
}
